* {
    box-sizing: border-box;
}

/* Utilities */
.mx {
    margin-left: auto !important;
    margin-right: auto !important;
}

.fa-star {
    color: gold;
    font-size: 1.8rem;
}

.fa-heart {
    font-size: 1.3rem !important;
}

.fa-red {
    color: red !important;
}

.text-bold{
    font-weight: 500 !important;
}

strong {
    font-weight: bold;
}

 /* Flexbox */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.flex-item{
    display: flex;
    padding: 0 0.8rem;
    /* width: 33.3333%; */
    width: 25%;
}

.clubs-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.club-item{
    display: flex;
    padding: 0 0.8rem;
    width: 25%;
}

.fa-heart{
    color: grey !important;
}


.home-wrapper{
    font-family: Arial, Helvetica, sans-serif;
}

.home-wrapper .row.col {
    padding-top: 12px;
}

#card-1 .card-content{
    background-image: url('../images/cover1.webp');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

#card-1 a{
    padding: 10px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: white;
}


.home-wrapper .card-title {
    margin: 0 0 8px 0;
}

.teamLogo{
    /* background-color: darkgray; */
    padding: 10px;
}

.home-wrapper .card-content{
    backdrop-filter: blur(5px);
    color: white;
}

.home-wrapper .card{
    background-image: url('../images/stadium1.jpg');
    background-position: bottom;
    background-size: cover;

    /* filter: blur(2px); */
}

.tab a{
    color: white !important;
}

.myteams-wrapper .card-content{
    backdrop-filter: blur(5px);
    color: white;
}

.myteams-wrapper .card{
    background-image: url('../images/stadium3.jpg');
    background-position: bottom;
    background-size: cover;
}



/* Small Device Breakpoint */
@media only screen and (max-width: 600px) {
    body{
        /* background-color: rgb(255, 245, 105) !important; */
        background-image: url('../images/stadium1.jpg');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }
    .card{
        background: rgba(0,0,0,0.4);
        background-image: none !important;
        backdrop-filter: blur(4px);
    }
    .about-wrapper{
        backdrop-filter: blur(5px);
    }
    .flex-item{
        width: 50%;
        padding: 0 0.5rem;
    }
    .club-item{
        width: 50%;
        padding: 0 0.5rem;
    }
}

/* Tablet Device Breakpoint */
@media only screen and (min-width: 603px) {
    .flex-item{
        width: 33.3333%;
    }
    .club-item{
        width: 33.3333%;
    }
}

/* Large Desktop Breakpoint */
@media only screen and (min-width: 993px) {
    .flex-item{
        width: 25%;
    }
    .club-item{
        width: 25%;
    }
}
/* Extra Large Breakpoint */
@media only screen and (min-width: 1201px) {
    
}




/* 
COOL ICON
*/
.flex-center {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #000;
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}